// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


body {
  padding-top: 200px;
}

.top {
  display: flex;
  justify-content: space-between;
  padding: 30px 40px;
}

#new_list {
  border-radius: 20px;
  padding: 15px;
  margin: 0px;
}

.btn-flat {
  background: rgb(127, 190, 128);
  border-radius: 10px;
}

a {
  text-decoration: none;
  color: black;
}

.row {
  padding: 5px 30px;
}

.list-title {
    color: red;
}
